$font-bold: HelveticaNeueW01-75Bold, Helvetica, sans-serif;
$font-medium: HelveticaNeueW01-65Medi, Helvetica, sans-serif;
$font-roman: HelveticaNeueW01-55Roma, Helvetica, sans-serif;
$font-light: HelveticaNeueW01-45Ligh, Helvetica, sans-serif;

$grid-col: 90px;
$grid-gutter: 28px;
$grid-gutter-2: 14px;
$grid-margin: 25px;

$primary-link-color: #008abf;
$primary-link-hover: #00649d;
$primary-link-highlight: #ecf8fd;
$primary-warning-color: #C93E32;

$disabled-color: #959595;

$grid-col: 90px;
$grid-gutter: 28px;
$grid-margin: 25px;
